<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
    <head>
        <script th:replace="fragments/header :: headerElement"/>
        <title>Register for an account</title>
    </head>
    <body>
        <div th:replace="fragments/header :: header"/>

        <div class="container">
            <div class="card mt-5">
                <div class="card-header">
                    Register for an account
                </div>
                <div class="card-body">
                    <form action="" method="post">
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

                        <div class="form-group row">
                            <label class="col-md-2 form-label" for="name">Name</label>
                            <div class=" col-md-10 col-12">
                                <input type="text" class="form-control" id="name" th:field="${user.name}"
                                       placeholder="Name"/>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-2 form-label" for="username">Email Address</label>
                            <div class=" col-md-10 col-12">
                                <input type="text" class="form-control" id="username" th:field="${user.username}"
                                       placeholder="Email Address"/>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-2 form-label" for="password">Password</label>
                            <div class=" col-md-10 col-12">
                                <input type="password" class="form-control" id="password" th:field="${user.password}"
                                       placeholder="Password"/>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-2 form-label" for="confirmPassword">Confirm Password</label>
                            <div class=" col-md-10 col-12">
                                <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm Password"/>
                            </div>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-primary float-right">Create Account</button>
                            <button type="button" class="btn btn-info" id="back">Back</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>

    <script type="text/javascript">
        $(function () {
            $("#back").click(function () {
                window.location.href = "/";
            });
        });
    </script>
</html>